*{
    margin: 0;
    list-style: none;
}
ul{
	margin: 0;
	padding-left: 30px;
}
h1{
	font-family: sans-serif;
}
h4{
	font-family: sans-serif;
	padding: 10px 0;
}
header{
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	display: inline-block;
	user-select: none;
	z-index: 100;
}
header img{
	width: 48px;
	height: 50px;
    margin-left: 40px;
	margin-top: 15px;
	float: left;
	-webkit-filter: drop-shadow(2px 1px 2px black);
}
header label{
	margin-left: 10px;
	font-size: 27px;
	font-family: "Times New Roman";
	float: left;
	line-height: 80px;
	text-shadow: 2px 1px 2px black;
	color: black;
	cursor: pointer;
}
.bloco{
	margin-top: 80px;
	width: 100%;
	display: inline-block;
}
.formulario{
	position: absolute;
	bottom: 50%;
	right: 30%;
	transform: translate(70%,50%);
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 30px rgb(110, 110, 110);
	padding: 30px;
	transition: .5s;
}
input[type="submit"]{
	border: none;
	outline: none;
	background: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.247);
	background-color: rgba(0, 0, 0, 0.025);
	margin-right: 5px;
	cursor: pointer;
	transition: .25s;
}
.go{
	color: rgba(45, 150, 45, 0.904);
}
.cancel{
	color: rgba(255, 0, 0, 0.664);
}
.go:hover{
	background-color: rgba(45, 209, 45, 0.904);
	border: 1px solid rgb(0,0,0,0);
	color: white;
}
.cancel:hover{
	background-color: rgba(255, 0, 0, 0.664);
	border: 1px solid rgb(0,0,0,0);
	color: white;
}

input[type="text"], input[type="password"]{
	border: none;
	outline: none;
	background: none;
	height: 25px;
	font-size: 12px;
	width: 225px;
	border-bottom: 2px solid black;
}
input[type="text"]:hover, input[type="password"]:hover{
	border-bottom: 2px solid rgb(45, 209, 45);
	background-color: rgba(179, 236, 231, 0.280);
}
input[type="text"]:focus, input[type="password"]:focus{
	border-bottom: 2px solid rgb(51, 155, 253);
	background-color: rgba(179, 236, 231, 0.280);
}