*{
    padding: 0;
    margin: 0;
    text-decoration: none;
	list-style-type: none;
}
body{
    background-color: rgb(228, 228, 228);
}
header{
	height: 90px;
	width: calc(100% - 275px);
	position: fixed;
	top: 0;
	display: inline-block;
	margin-left: 275px;
	user-select: none;
}
header img{
	width: 48px;
	height: 50px;
	margin-top: 20px;
	float: left;
	-webkit-filter: drop-shadow(2px 1px 2px black);
}
header label{
	margin-left: 10px;
	font-size: 30px;
	font-family: "Times New Roman";
	float: left;
	line-height: 90px;
	text-shadow: 2px 1px 2px black;
	color: black;
	cursor: pointer;
}
nav{
	background-color: white;
    width: 225px;
    height: 100vh;
    box-shadow: 1px 0 5px rgb(110, 110, 110);
    position: fixed;
    top: 0;
	user-select: none;
}
nav .usuario{
	position: relative;
	height: 45px;
	right: 0;
	margin: 30px auto 0 15px;
}
nav .usuario img{
	border-radius: 25px;
	height: inherit;
	width: 45px;
	border: 2px solid rgba(0, 0, 0, 0.432);
}
nav .usuario label{
	position: absolute;
	transform: translate(0,50%);
	bottom: 50%;
	font-family: monospace;
	font-size: 15px;
}
nav .ul{
	position: absolute;
	transform: translate(0,50%);
	bottom: 50%;
	width: 100%;
	margin-bottom: 13px;
}
nav .ul a {
	line-height: 45px;
	width: 100%;
	font-family: sans-serif;
    color: rgb(75, 75, 75);
	text-decoration: none;
	padding: 15px 0;
}
nav .ul a:hover{
	color: #f36779;
}
nav .ul .li{
	margin-top: 13px;
	width: calc(100% - 3px);
	height: 45px;
	font-weight: bold;
	font-size: 16px;
	bottom: 0;
}
nav .ul a:hover .li{
	font-size: 17.5px
}
nav .ul .li i{
	margin-left: 20px;
	font-size: 20px;
}
nav .ul a:hover .li i{
	font-size: 22px
}
nav .ul .li span{
	margin-left: 20px;
	transition: .1s;
}
.bloco{
	margin-left: 275px;
	margin-top: 110px;
	margin-right: 50px;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 1px 0 5px rgb(110, 110, 110);
	background-color: white;
}
.selected{
	color: rgb(0, 140, 255);
	border-right: 4px solid rgb(0, 140, 255);
}
div table{
	border-top: 1px solid black;
	border-right: 1px solid black;
}
div table tr th, div table tr td {
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}
div table tr td a{
	color: black;
	padding: 5px;
}
form{
	margin-top: 10px;
}
h1{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: justify;
}
h4{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 8px 0;
	margin-top: 25px;
}
input[type="submit"]{
	border: none;
	outline: none;
	background: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.247);
	background-color: rgba(0, 0, 0, 0.025);
	margin-right: 5px;
	cursor: pointer;
	transition: .25s;
}
select{
	margin-bottom: 15px;
}
/*Estilo dos campos de texto*/
input[type="text"], input[type="password"]{
	border: none;
	outline: none;
	background: none;
	height: 30px;
	font-size: 12px;
	width: 250px;
	border-bottom: 2px solid black;
}
input[type="text"]:hover, input[type="password"]:hover{
	border-bottom: 2px solid rgb(45, 209, 45);
	background-color: rgba(179, 236, 231, 0.280);
}
input[type="text"]:focus, input[type="password"]:focus{
	border-bottom: 2px solid rgb(51, 155, 253);
	background-color: rgba(179, 236, 231, 0.280);
}

input[type="checkbox"]{
	margin: 15px 0;
	border: none;
	outline: none;
	background: none;
	background-color: rgba(179, 236, 231, 0.200);
}
.go{
	color: rgba(45, 150, 45, 0.904);
}
.cancel{
	color: rgba(255, 0, 0, 0.664);
}
.go:hover{
	background-color: rgba(45, 209, 45, 0.904);
	border: 1px solid rgb(0,0,0,0);
	color: white;
}
.cancel:hover{
	background-color: rgba(255, 0, 0, 0.664);
	border: 1px solid rgb(0,0,0,0);
	color: white;
}
#checkCadastro{
	display: none;
}
#checkLogin{
	display: none;
}

/**Estilo dos dois botões do header**/
.btnHeader{
	font-family: sans-serif;
	text-shadow: none;
	font-size: 16px;
	margin: 0;
	line-height: normal;
	padding: 8px;
	border-radius: 5px;
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	right: 50px;
	box-shadow: 1px 0 5px rgb(66, 66, 66);
	text-decoration: none;
}
/*Estilo do botão cadastro*/
.btnCadastro{
	background-color: rgb(23, 23, 167);
	color: white;
	margin-right: 91px;
}
.btnCadastro:hover{
	background-color: rgb(28, 124, 202);
}
/*Estilo do botão login*/
.btnLogin{
	background-color: rgb(45, 180, 45);
	color: black;
}
.btnLogin:hover{
	background-color: rgb(57, 236, 57);
}
.mascara{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.288);
	z-index: 99;
	display: none;
}
.formulario{
	background-color: white;
	border: 1px solid black;
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	box-shadow: 1px 0 5px rgb(0, 0, 0);
	z-index: 100;
}
.cadastro{
	display: none;
}
.login{
	display: none;
}
.formulario h1{
	font-size: 25px;
	padding: 8px;
}
.formulario form{
	padding: 0 30px;
	margin: 0;
	padding-top: 15px;
}
.formulario label{
	font-size: 20px;
	text-shadow: none;
	cursor: pointer;
	right: 0;
	top: 0;
	margin: 0;
	padding: 13px 18px;
	position: absolute;
	line-height: normal;
	transition: .25s;
}
.formulario label:hover{
	background-color: rgba(0, 0, 0, 0.150);
}
.sair{
	color: rgb(255, 90, 90);
	font-weight: bold;
}
#checkCadastro:checked ~ .cadastro{
	display: block;
}
#checkLogin:checked ~ .login{
	display: block;
}
#checkCadastro:checked ~ .mascara{
	display: block;
}
#checkLogin:checked ~ .mascara{
	display: block;
}