<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/Layout">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
		<link rel="shortcut icon" type="image/x-icon" href="/imagens/favicon.ico">
        <link rel="stylesheet" href="/css/inicioCss.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

        <title>Gerenciar Usuários - RFP</title>
    </head>
    <body>
        
        <nav>
			<div class="usuario" th:if="${pessoa} != null">
				<img src="/imagens/perfil_anonimo.jpg" alt="">
				<label class="nome" th:text="${pessoa.nome}"></label>
                <a href="/usuario/logoff" class="sair">Sair</a>

                <input type="checkbox" id="cog">
                <label for="cog" class="engrenagem"><i id="porca" class="fas fa-cog"></i></label>

                <div class="configUser">
                    <table>
                        <tr>
                            <td><a href="/gerenciarUsuarios">Gerenciar usuários</a></li></td>
                        </tr>
                        <tr>
                            <td><a href="/usuario/logoff" class="sair">Sair</a></li></td>
                        </tr>
                    </table>
                </div>
			</div>
			
            <div class="ul">
                <a href="/">
                	<div class="li selected"><i class="fas fa-home"></i> <span>Início</span> </div>
                </a>
            </div>
        </nav>

		<header>
	        <a href="/">
				<img src="/imagens/logo.png" alt="Logo RFP">
				<label>
					RAIZ FAST PLAY
				</label> 	
			</a>

			<div th:if="${pessoa} == null">
                <a href="/usuario/paginadecadastro" class="btnHeader btnCadastro">CADASTRE-SE</a>
                <a href="/usuario/paginadelogin" class="btnHeader btnLogin">ENTRAR</a>
            </div>
        </header>
        
        <div class="bloco">
        	<h1>GESTÃO DE USUÁRIOS</h1>
        	<hr>
            
            <div th:if="${usuariosCadastrados} != null">
            	<table style="margin-top: 30px;">
					<tr>
						<td colspan="4" style="text-align: center; font-weight: bold;">TABELA DE PRODUTOS</td>
					</tr>
            		<tr>
            			<th>Nome</th>
            			<th>Email</th>
            			<th>Opções</th>
            		</tr>
            		<tr th:each="u : ${usuariosCadastrados}">
						<td th:text="${u.nome}"></td>
						<td th:text="${u.email}"></td>
						<td>
							<a th:href="'/usuario/editar/' + ${u.id}">
								<i class="fas fa-edit"></i>
							</a>
							<a th:href="'/remover/' + ${u.id}" onclick="if(!confirm('Você quer realmente remover o produto?')) return false;">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
            	</table>
            </div>

            <h4 th:if="${usuariosCadastrados} == null" style="color: rgba(255, 0, 0, 0.87);">Nenhum produto encontrado</h4>
            
        </div>

    </body>
</html>